
@mixin container-default {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin container-groups {
    @include container-default;
    min-height: 93vh;
    justify-content: flex-start;
}