@import "./colors";

@mixin input-default {
    font-family: "LuckiestGuy", Helvetica, Arial;
    background-color: $white;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    margin-top: 1rem;
    box-sizing: border-box;
    cursor: pointer;

    &:focus{
        outline: none;
    }
}

@mixin input-white {
    @include input-default;
    text-transform: uppercase;
    font-size: 20px;
    padding: 1rem ;
    border-radius: 3em;
    color: $grey-600;
    text-align: center;
    min-width: 320px;
}

@mixin input-check {
    
}