@import "./colors";

@mixin avatar {
    box-sizing: border-box;
    width: 8rem;
    height:  8rem;
    background-color: white;
    border: solid 0.2rem $grey-200;
    border-radius: 50%;
}

@mixin group-avatar {
    @include avatar;
    width: 5rem;
    height:  5rem;
 
}