$primary: #F5487F;
$primary-1:#dc4072;
$primary-2: #c43965;
$primary-3: #ab3258;

$secondary: #553772;
$secondary-1: #4c3166;
$secondary-2:#442c5b;

$white: #FFFFFF;
$black: #000000;

$ice: #EBEDEF;

$grey-200:#eeeeee;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;