@import '@/sass/_main.scss';

h1 {
    @include page-title;
}

.group-list{
    display: flex;
    flex-direction: column;
}

.buttons{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 1rem;
    bottom: 1rem;
    z-index: 1;
    button{
        @include button-secondary;
    }
}