@import "@/assets/scss/_index.scss";

.buttons {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

    button{
        @include button-primary
    }

    input{
        @include input-white
    }
}

